* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    


}

ul{
    list-style: none;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

body{
    font-family: 'Roboto', sans-serif;
}

/* START nav bar to chnage gallery selection */
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box{
    margin-right: 20px;
    display: flex;
    cursor: pointer;
    color: #777;

}

.container .box.active{
    
}
.container .box.active p{
    transition: 1s;

    background-color:#fdc600 ;
    color:white;
}
.container .box p{
    padding: 20px;
    border: 1px solid #fdc60079;
    border-radius: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
/*END nav bar to chnage gallery selection */
.img img.run-animation{
    animation: tr .4s linear;

 }

@keyframes tr{
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.img i{
    cursor: pointer;
    color: #fdc600;
}


@media(max-width:767px){
    .container .box{
        margin-right: 5px;
    }
    .img img{
        width: 300px;
    }

}